
    $purple: #4F46BA;
    $blue: #62BADA;
    $skyblue: #C9E7F2;
    $gray: #64607D;
    $border-gray: #DBE4E9;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex($direction: row, $justify:flex-start, $align: flex-start, $gap: 0){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
  }

body{
    font-family: 'Manrope', sans-serif;
}

header{
    background: linear-gradient(to right, $skyblue, $blue);
    height: 100vh;
    padding: 0 7rem;
}


nav{
    @include flex(row,space-between ,center);
    height: 5rem;

    ul{
        list-style: none;
        @include flex(row, center, center, 2rem);

        li{
            cursor: pointer;
        }
    }

}

.hero-section{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    height: calc(100vh - 5rem);
    gap: 5rem

}

.hero-text{
    @include flex(column, center, flex-start, 1rem);
    h3{
        font-size: 60px;
        font-weight:900;
        line-height: 70px;
    }

    p{
        color: $gray;
        margin-bottom: 1.5rem;

    }
}

.hero-buttons {
    @include flex(row, flex-start, center, 2rem);
    margin-bottom: 1.5rem;


    button{
        border: none;
        height: 55px;
    }
  }

  .get-started {
    background-color: $purple;
    font-size: 14px;
    color: white;
    width: 162px;
    border-radius: 47px;
  }

  .see-how {
    span{
        background-color: #22D497;
        border-radius: 50%;
        color: white;
        @include flex(row, center, center);
        height: 100%;
        width: 55px;
    }
    background: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

.hero-features{
    display: flex;
    gap: 2rem;
}

.hero-feature {
    @include flex(row, flex-start, center, 0.5rem);
   
   span{
    font-size: 14px;
    color: $gray;
   }

}
.checkmark{
    background-color: $purple;
    border-radius: 50%;
    color: white;
    height: 18px;
    width: 18px;
    @include flex(row,center ,center );
}

.hero-image{
    overflow: hidden; 

    img{
        width: 360px;
        object-fit: contain;
        display: block;
    }
}

.businesses{
    text-align: center;
    padding: 70px 0;

    h3{
        padding-bottom: 1.5rem;
    }
}
.business-logos{
    @include flex(row, space-between, center);
    padding: 0 5rem;
}

.portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 7rem;
}

.portfolio-text{
    h3{
        font-size: 56px;
        font-weight: 900;
    }
}

.review{
    @include flex(row, flex-end, center);
}
.review-card{
    position: relative;
    background-color: #C4C4C4;
    border-radius: 20px;
    max-width: 402px;
    height: 177px;
    font-size: 15px;
    @include flex(column,center ,flex-start );
    padding: 2rem;

    .author{
        margin-top: 1rem;
    }

}
.quote-icon{
    position: absolute;
    background-color: black;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    @include flex(row,center ,center);
    top:-18px;

}

