* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

header {
  background: linear-gradient(to right, #C9E7F2, #62BADA);
  height: 100vh;
  padding: 0 7rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  height: 5rem;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav ul li {
  cursor: pointer;
}

.hero-section {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  height: calc(100vh - 5rem);
  gap: 5rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.hero-text h3 {
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
}
.hero-text p {
  color: #64607D;
  margin-bottom: 1.5rem;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}
.hero-buttons button {
  border: none;
  height: 55px;
}

.get-started {
  background-color: #4F46BA;
  font-size: 14px;
  color: white;
  width: 162px;
  border-radius: 47px;
}

.see-how {
  background: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.see-how span {
  background-color: #22D497;
  border-radius: 50%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 100%;
  width: 55px;
}

.hero-features {
  display: flex;
  gap: 2rem;
}

.hero-feature {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.hero-feature span {
  font-size: 14px;
  color: #64607D;
}

.checkmark {
  background-color: #4F46BA;
  border-radius: 50%;
  color: white;
  height: 18px;
  width: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.hero-image {
  overflow: hidden;
}
.hero-image img {
  width: 360px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.businesses {
  text-align: center;
  padding: 70px 0;
}
.businesses h3 {
  padding-bottom: 1.5rem;
}

.business-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0 5rem;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 7rem;
}

.portfolio-text h3 {
  font-size: 56px;
  font-weight: 900;
}

.review {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
}

.review-card {
  position: relative;
  background-color: #C4C4C4;
  border-radius: 20px;
  max-width: 402px;
  height: 177px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  padding: 2rem;
}
.review-card .author {
  margin-top: 1rem;
}

.quote-icon {
  position: absolute;
  background-color: black;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  top: -18px;
}/*# sourceMappingURL=styles.css.map */